<title>Ajouter un Livre/Document</title>
{% extends 'base.html' %}

<body>
{% block content %}

    <div class="tablinks">
        <button onclick="opentab(name)" class="link" name="new_book">Nouveau Livre/Document</button>
        <button onclick="opentab(name)" class="link" name="new_book_instance">Nouvelle copie d'un livre</button>
    </div>

    <div id="new_book" class="books">
        <form method="POST" action="add_new_book" class="form-inline">
            {% csrf_token %}
        <label>Titre.</label><br><div>{{form.book_title}}</div>
        <label>Auteur.</label><br> <div> {{form.book_author}}</div>
        <label>Nombre de pages.</label><br> <div> {{form.book_pages}}</div>
        <label>Domaine .</label><br> <div> {{form.summary}}</div>
        <br> <button type="submit" class="btn btn-success">Ajoutez le Livre/Document</button> 
        </form>
    </div>

    <div id="new_book_instance" class="books">
    <form method="POST" action="add_new_book_instance" class="form-inline">
        {% csrf_token %}
        <label>Livre/Document</label><br><div>{{form_instance.book}}</div>
        <br> <button type="submit" class="btn btn-success">Ajoutez le Livre/Document</button> 
    </form>
    </div>

<script type="text/javascript">
    function opentab(tab_name){
         var tab=document.getElementById(tab_name);
         var i, tabcontent, tablinks;
         tabcontent = document.getElementsByClassName("books");
         for (i = 0; i < tabcontent.length; i++) {
             tabcontent[i].style.display = "none";
         }
         tablinks = document.getElementsByClassName("link");
         for (i = 0; i < tablinks.length; i++) {
             tablinks[i].className = tablinks[i].className.replace(" active", "");
         }
         tab.style.display = "block";

    }
    function toggle_quantity_input(id){
        var obj=document.getElementById("multi");
        document.getElementById("additional_data").style.display="block";
        if(id=="single"){
            obj.style.display="none";
        }
        else{
            obj.style.display="block";   
        }
    }
</script>

{% endblock %}
</body>

</html>