<title> Liste des emprunts </title>
{% extends 'base.html' %}

<body>
{% block content %}
<table class="table table-striped">
<tr>
    <th>Nom d'étudiant </th>
    <th>Livre </th>
    <th>Date d'emprunt </th>
    <th>Date de retour</th>
    <th>Remarque sur l'emprunt </th>
    <th>Remarque sur le retour</th>
    <th>Actions </th>
</tr>
    {%for i in issue%}
    <tr>
        <td>{{i.student}}</td>
        <td>{{i.book_instance.book}}</td>
        <td>{{i.issue_date}}</td>
        <td>{{i.due_date}}</td>
        <td>{{i.remarks_on_issue}}</td>
        <td>{{i.remarks_on_return}}</td>
        <td>
            <a href="{% url 'edit_issued' i.id %}" id="return_button_{{ i.id }}" onclick="return handleReturnButtonClick('{{ i.id }}')">Retourner</a>
        </td>        
        
    </tr> {% endfor %}
</table>

<script>
    function handleReturnButtonClick(issueId) {
        // Mettre à jour le texte du bouton
        var returnButton = document.getElementById('return_button_' + issueId);
        returnButton.textContent = 'Livre retourné';

        // Mettre à jour la valeur de la cellule <td>
        var valableCell = document.getElementById('valable_' + issueId);
        valableCell.textContent = 'Oui';

        // Optionnel : Ajouter une classe CSS pour styliser le texte
        returnButton.classList.add('returned');
    }
</script>


{% endblock %}
</body>
</html>